.virtual-list {
  height: 300px;
  border: 1px solid #666;
  overflow: auto;
  position: relative;
  &-zhanwei,
  // &-content {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  // }
  &-zhanwei {
    z-index: -1;
  }
  &-item {
    color: #666;
    height: 30px;
    line-height: 30px;
  }
}
